:root {
  --mainText: rgb(47, 14, 47);
  --secondaryText: rgb(42, 40, 40);

  --borderColor: #ccc8c8;
  --mainColor: rgb(206, 202, 202);
  --secondaryColor: rgb(255, 254, 254);

  --themeDotBorder: black;
  --previewBg: rgb(251, 249, 243, 0.8);
  --preveiwShadow: #a8a8a8;
}

html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Indie Flower", cursive;
  /* font-family: 'Roboto', sans-serif; */
}

a {
  text-decoration: none;
  color: rgb(37, 184, 184);
}

ul {
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 2px solid var(--borderColor);
  border-radius: 5px 5px 0 0;
  border-bottom: 10px solid var(--borderColor);

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3em 30em;
  grid-template-areas:
    "nav-wrapper nav-wrapper"
    "left-column right-column";
}

.nav-wrapper {
  background-color: var(--mainColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
}

.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;

  padding-top: 50px;
  padding-bottom: 50px;
}

.greeting-wrapper {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 10em;
}

.dots-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.browser-dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

#dot-1 {
  background-color: red;
}
#dot-2 {
  background-color: yellow;
}
#dot-3 {
  background-color: green;
}

#navigation {
  margin: 0;
  padding: 10px;
}

#navigation li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

#profile_pic {
  display: block;
  margin: 2px auto;

  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid var(--borderColor);
}

#theme-options-wrapper {
  display: flex;
  justify-content: center;
}

.theme-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  margin: 5px;
  border: 2px solid var(--themeDotBorder);

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  cursor: pointer;
}

.theme-dot:hover {
  border-width: 5px;
}

#light-mode {
  background-color: rgb(220, 221, 221);
}

#green-mode {
  background-color: rgb(61, 173, 39);
}

#purple-mode {
  background-color: rgb(91, 30, 104);
}

#blue-mode {
  background-color: #192734;
}

#settings-note {
  text-align: center;
  font-size: 12px;
  font-style: italic;
}

#preview-shadow {
  background-color: var(--preveiwShadow);
  max-width: 300px;
  height: 150px;
  padding-left: 30px;
  padding-top: 30px;
}

#preview {
  border: 1.5px solid #17a2b8;
  width: 300px;
  background-color: var(--previewBg);
  padding: 15px;
  position: relative;
}

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: white;
  position: absolute;
}

#corner-tl {
  top: -5px;
  left: -5px;
}

#corner-tr {
  top: -5px;
  right: -5px;
}

#corner-br {
  bottom: -5px;
  right: -5px;
}

#corner-bl {
  bottom: -5px;
  left: -5px;
}

/* About */
.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-top: 50px;
  padding-bottom: 50px;

  gap: 100px;
}

#skills {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--preveiwShadow);
}

#social_img {
  width: 100%;
}

.social-links {
  display: grid;
  align-content: center;
  text-align: center;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 26px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

p,
li,
span,
input,
textarea {
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.s2 {
  background-color: var(--secondaryColor);
  overflow: auto;
  border-bottom: 1px solid var(--borderColor);
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav-wrapper"
      "left-column"
      "right-column";
  }

  .right-column {
    justify-content: center;
  }
}
